<%= content_for :body_class, "custom-page" %>
<% provide :title do %><%= 'Vídeo colaborativo para el Día mundial del Refugiado' %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1><%= 'Vídeo colaborativo para el Día mundial del Refugiado' %></h1>

    <p>
    El Área de Participación Ciudadana, Migración, Acción Exterior, Cooperación al Desarrollo, Transparencia y Buen Gobierno del Ayuntamiento de Málaga, en el marco de la conmemoración del Día Mundial del Refugiado (20 de junio), os invita a ser parte de una propuesta audiovisual que busca visibilizar las historias, desafíos, aportes y derechos de las personas refugiadas que hoy forman parte de nuestras comunidades.
    </p>
    <p>
    El objetivo de esta convocatoria es reunir una serie de vídeos breves que transmitan un mensaje de empatía, inclusión y respeto hacia quienes han tenido que dejar sus hogares en busca de protección y de una vida digna. No hace falta que sea profesional, puedes grabarlo con el móvil, solo o en grupo.
    </p>
    <p>
    Los vídeos seleccionados formarán parte de una campaña de difusión en redes y serán visualizados en el acto que se organizará con motivo de este Día.
    </p>
    <p>
    Si quieres enviarnos tu vídeo, ten en cuenta:
    </p>
    <ul>
      <li>
      <strong>Graba un vídeo</strong> (duración máxima 3 minutos). No importa si es un testimonio, una reflexión, ficción, animación, etc,
      </li>
      <li>
      <strong>Formato horizontal</strong>  y resolución 1080x1920 píxeles, que no supere los 100 MB.
      </li>
      <li>
      Procura hacerlo en un <strong>entorno silencioso, sin ruidos de fondo</strong>.
      </li>
    </ul>
    <p>
        TIENES HASTA EL 12 DE JUNIO PARA ENVIAR TU VÍDEO
    </p>
    <p>
        Contamos contigo para construir una sociedad más humana y solidaria ¡Gracias por sumarte!
    </p>

    <iframe
      id="JotFormIFrame-251052083165045"
      title="Día del refugiado"
      onload="window.parent.scrollTo(0,0)"
      allowtransparency="true"
      allow="geolocation; microphone; camera; fullscreen"
      src="https://form.jotform.com/251052083165045"
      frameborder="0"
      style="min-width:100%;max-width:100%;height:539px;border:none;"
      scrolling="no"
    >
    </iframe>
    <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
    <script>window.jotformEmbedHandler("iframe[id='JotFormIFrame-251052083165045']", "https://form.jotform.com/")</script>
  </div>
</div>
