<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_stylesheet_link_tag "pdf_fonts" -%>
</head>
<body class="process-pdf">
<div class="content">
    <div class="title">
        INFORME DE EXPOSICIÓN PÚBLICA EN EL PORTAL DE</br>PARTICIPACIÓN CIUDADANA DEL AYUNTAMIENTO DE MÁLAGA
    </div>
    <p class="text">
        El presente informe ha sido generado de manera automática por la Portal de Participaciòn del Ayuntamiento de Málaga para certificar qué el proceso denominado
    </p>
    <div class="code">
      Ordenanza Nº xxxxxxxx xxxx xxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div>
    <p class="text">
      fue publicado el día de mes de año  por el Area de XXXX  y ha estado sometido a exposición pública del 16 de diciembre de 2021 al 26 de diciembre de 2021 en el Portal de Participación Ciudadana, concretamente en la URL:
    </p>
    <div class="link">
      <a href="https://participa.malaga.eu/es/propuestas-de-gobierno/Ordenanza-N-5-Reguladora-Del-Impuesto-Sobre-El-Incremento-De-Valor-De-Los-Terrenos-De-Naturaleza-Urbana/" target="_blank" rel="noopener noreferrer">
        https://participa.malaga.eu/es/propuestas-de-gobierno/Ordenanza-N-5-Reguladora-Del-Impuesto-Sobre-El-Incremento-De-Valor-De-Los-Terrenos-De-Naturaleza-Urbana/
      </a>
    </div>
    <p class="text">
      con el siguiente texto:
    </p>
    <div class="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at aliquet sem, nec tincidunt odio. In hendrerit laoreet ultricies. Pellentesque hendrerit, enim vitae egestas egestas, justo dolor hendrerit mauris, placerat sollicitudin leo augue at urna. Curabitur ut commodo tellus. Morbi feugiat erat quis commodo gravida. Donec feugiat orci a nunc cursus, eu porttitor arcu facilisis. Integer tincidunt augue ante, et maximus ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel efficitur nunc. Integer at enim quis orci aliquet commodo ut id massa. Fusce sodales vehicula ultricies. Vivamus sit amet nulla eu felis ultricies luctus. Quisque quis augue vestibulum elit aliquam tempus ac ac lorem. Aliquam aliquam ipsum turpis, sit amet finibus erat facilisis quis. Nam at magna rutrum, tempor urna ut, varius arcu. Donec aliquet volutpat enim sed eleifend.
Vestibulum id odio finibus, molestie magna vitae, laoreet massa. Etiam justo magna, scelerisque sit amet sem et, hendrerit auctor ex. Donec eget orci id lectus eleifend tristique sed in sapien. Sed a sapien faucibus, ornare nulla ut, gravida eros. Mauris scelerisque dui vel commodo commodo. Aenean aliquet sit amet lectus eget accumsan. Fusce pretium magna eget enim laoreet, a convallis tortor blandit. Vivamus est dui, consequat vel accumsan faucibus, vehicula eleifend erat. Phasellus dolor orci, rhoncus at condimentum in, sollicitudin ut erat.
Vivamus euismod tellus nec tempus accumsan. Donec ut purus eget lacus iaculis blandit. Proin non metus eu orci dictum mollis non quis magna. Donec vel commodo libero. Nam non turpis pharetra, dapibus quam eu, vehicula libero. Curabitur dignissim ante eleifend rutrum hendrerit. Aenean interdum hendrerit sapien. Etiam a nulla maximus, tempus dolor sit amet, sollicitudin mauris. Mauris tincidunt pretium felis vitae molestie. Aliquam posuere consectetur posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at aliquet sem, nec tincidunt odio. In hendrerit laoreet ultricies. Pellentesque hendrerit, enim vitae egestas egestas, justo dolor hendrerit mauris, placerat sollicitudin leo augue at urna. Curabitur ut commodo tellus. Morbi feugiat erat quis commodo gravida. Donec feugiat orci a nunc cursus, eu porttitor arcu facilisis. Integer tincidunt augue ante, et maximus ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel efficitur nunc. Integer at enim quis orci aliquet commodo ut id massa. Fusce sodales vehicula ultricies. Vivamus sit amet nulla eu felis ultricies luctus. Quisque quis augue vestibulum elit aliquam tempus ac ac lorem. Aliquam aliquam ipsum turpis, sit amet finibus erat facilisis quis. Nam at magna rutrum, tempor urna ut, varius arcu. Donec aliquet volutpat enim sed eleifend.
Vestibulum id odio finibus, molestie magna vitae, laoreet massa. Etiam justo magna, scelerisque sit amet sem et, hendrerit auctor ex. Donec eget orci id lectus eleifend tristique sed in sapien. Sed a sapien faucibus, ornare nulla ut, gravida eros. Mauris scelerisque dui vel commodo commodo. Aenean aliquet sit amet lectus eget accumsan. Fusce pretium magna eget enim laoreet, a convallis tortor blandit. Vivamus est dui, consequat vel accumsan faucibus, vehicula eleifend erat. Phasellus dolor orci, rhoncus at condimentum in, sollicitudin ut erat.
Vivamus euismod tellus nec tempus accumsan. Donec ut purus eget lacus iaculis blandit. Proin non metus eu orci dictum mollis non quis magna. Donec vel commodo libero. Nam non turpis pharetra, dapibus quam eu, vehicula libero. Curabitur dignissim ante eleifend rutrum hendrerit. Aenean interdum hendrerit sapien. Etiam a nulla maximus, tempus dolor sit amet, sollicitudin mauris. Mauris tincidunt pretium felis vitae molestie. Aliquam posuere consectetur posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at aliquet sem, nec tincidunt odio. In hendrerit laoreet ultricies. Pellentesque hendrerit, enim vitae egestas egestas, justo dolor hendrerit mauris, placerat sollicitudin leo augue at urna. Curabitur ut commodo tellus. Morbi feugiat erat quis commodo gravida. Donec feugiat orci a nunc cursus, eu porttitor arcu facilisis. Integer tincidunt augue ante, et maximus ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel efficitur nunc. Integer at enim quis orci aliquet commodo ut id massa. Fusce sodales vehicula ultricies. Vivamus sit amet nulla eu felis ultricies luctus. Quisque quis augue vestibulum elit aliquam tempus ac ac lorem. Aliquam aliquam ipsum turpis, sit amet finibus erat facilisis quis. Nam at magna rutrum, tempor urna ut, varius arcu. Donec aliquet volutpat enim sed eleifend.
Vestibulum id odio finibus, molestie magna vitae, laoreet massa. Etiam justo magna, scelerisque sit amet sem et, hendrerit auctor ex. Donec eget orci id lectus eleifend tristique sed in sapien. Sed a sapien faucibus, ornare nulla ut, gravida eros. Mauris scelerisque dui vel commodo commodo. Aenean aliquet sit amet lectus eget accumsan. Fusce pretium magna eget enim laoreet, a convallis tortor blandit. Vivamus est dui, consequat vel accumsan faucibus, vehicula eleifend erat. Phasellus dolor orci, rhoncus at condimentum in, sollicitudin ut erat.
Vivamus euismod tellus nec tempus accumsan. Donec ut purus eget lacus iaculis blandit. Proin non metus eu orci dictum mollis non quis magna. Donec vel commodo libero. Nam non turpis pharetra, dapibus quam eu, vehicula libero. Curabitur dignissim ante eleifend rutrum hendrerit. Aenean interdum hendrerit sapien. Etiam a nulla maximus, tempus dolor sit amet, sollicitudin mauris. Mauris tincidunt pretium felis vitae molestie. Aliquam posuere consectetur posuere.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at aliquet sem, nec tincidunt odio. In hendrerit laoreet ultricies. Pellentesque hendrerit, enim vitae egestas egestas, justo dolor hendrerit mauris, placerat sollicitudin leo augue at urna. Curabitur ut commodo tellus. Morbi feugiat erat quis commodo gravida. Donec feugiat orci a nunc cursus, eu porttitor arcu facilisis. Integer tincidunt augue ante, et maximus ipsum vehicula eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla vel efficitur nunc. Integer at enim quis orci aliquet commodo ut id massa. Fusce sodales vehicula ultricies. Vivamus sit amet nulla eu felis ultricies luctus. Quisque quis augue vestibulum elit aliquam tempus ac ac lorem. Aliquam aliquam ipsum turpis, sit amet finibus erat facilisis quis. Nam at magna rutrum, tempor urna ut, varius arcu. Donec aliquet volutpat enim sed eleifend.
Vestibulum id odio finibus, molestie magna vitae, laoreet massa. Etiam justo magna, scelerisque sit amet sem et, hendrerit auctor ex. Donec eget orci id lectus eleifend tristique sed in sapien. Sed a sapien faucibus, ornare nulla ut, gravida eros. Mauris scelerisque dui vel commodo commodo. Aenean aliquet sit amet lectus eget accumsan. Fusce pretium magna eget enim laoreet, a convallis tortor blandit. Vivamus est dui, consequat vel accumsan faucibus, vehicula eleifend erat. Phasellus dolor orci, rhoncus at condimentum in, sollicitudin ut erat.
Vivamus euismod tellus nec tempus accumsan. Donec ut purus eget lacus iaculis blandit. Proin non metus eu orci dictum mollis non quis magna. Donec vel commodo libero. Nam non turpis pharetra, dapibus quam eu, vehicula libero. Curabitur dignissim ante eleifend rutrum hendrerit. Aenean interdum hendrerit sapien. Etiam a nulla maximus, tempus dolor sit amet, sollicitudin mauris. Mauris tincidunt pretium felis vitae molestie. Aliquam posuere consectetur posuere.
    </div>
    <p class="text">
      Incluyendo además los siguientes archivos adjuntos:
    </p>
  </div>
</body>
</html>
