<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_stylesheet_link_tag "pdf_fonts" -%>
</head>
<body onload='number_pages'>
  <div class="footer-pdf">
    <div class="address">
      <p>
        <b>
        Ayuntamiento de Málaga
        </b><br/>
        Edificio Tabacalera. Cl. Concejal Muñoz Cerván, 3, módulo 3, 1ª planta.<br/>
29003 Málaga
      </p>
    </div>
    <div class="contact">
      <p>
      +34 951 926 022<br/>
      participacion@malaga.eu<br/>
      www.participa.malaga.eu<br/>
      </p>
    </div>
  </div>
</body>
</html>
