<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_stylesheet_link_tag "pdf_fonts" -%>
</head>
<body onload='number_pages'>
<div class="header-pdf">
    <div class="logo">
      <%= wicked_pdf_image_tag("pdf2.png") %>
    </div>
    <div class="org">
      <%= wicked_pdf_image_tag("pdf1.png") %>
    </div>
  </div>
    </body>
</html>
