// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

@import "custom_settings";
// HOME

// Home > header
header {
  .top-links {
    background: $dark;
    padding: 8px 0;
  }
  .top-bar {
    background-color: $white !important;
    .menu-button {
      color: $brand;
      margin-right: 20px;
    }
    .account-menu {
      a {
        color: $brand;
      }
      .button {
        color: $brand;
        background: none;
        @include breakpoint(medium) {
          background: $brand;
          color: $white;
        }
      }
    }
    .top-bar-title {
      flex: 1 0 50%;
      a {
        display: inline;
        img {
          margin: 15px 0;
          max-height: 50px;
        }
      }
    }
  }
  #navigation_bar {
    background: $dark;
    a {
      color: $white;
    }
    a:hover {
      color: $white;
    }
  }
  .subnavigation {
    a {
      color: $brand;
      &.is-active {
        font-weight: bold;
        text-decoration: underline;
        @include breakpoint(medium) {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

// Home > footer
.footer {
  background: $brand;
  h1 {
    font-size: 34px;
    margin: 30px 0;
    color: $white;
  }
  .info-list {
    color: $white;
    p {
      font-size: 16px;
      i {
        width: 15px;
        height: auto;
        margin-right: 8px;
      }
    }
  }
  .info-rrss {
    margin-top: 30px;
    list-style: none;
    margin-left: 0;

    li {
      display: inline;
      padding: 10px;
      a {
        text-decoration: none;
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .footer-logo {
    margin: 30px 0;
    text-align: right;
  }
  .footer-subfooter {
    margin-top: 50px;
    margin-bottom: 20px;
    color: $white;
    text-align: center;
    ul {
      margin-bottom: 0.5rem;
      li {
        font-size: 14px;
        a {
          text-decoration: none;
          padding-left: 10px;
          padding-right: 10px;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}

// AUTH
.auth-page {
  .auth-image {
    background-image: none;
    background: $brand;
    .logo {
      width: auto;
      img {
        margin: 15px 0;
        max-height: 50px;
      }
    }
  }
}
